
.login-background-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/loginPage2.png"); 
    background-size: cover;
  }
